<p>
  <b>X:</b>
  <%=h @move.x %>
</p>

<p>
  <b>Y:</b>
  <%=h @move.y %>
</p>

<p>
  <b>By player:</b>
  <%=h @move.by_player %>
</p>

<p>
  <b>Round:</b>
  <%=h @move.round_id %>
</p>


<%= link_to 'Edit', edit_move_path(@move) %> |
<%= link_to 'Back', moves_path %>