<h1>New round</h1>

<% form_for(@round) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :player %><br />
    <%= f.text_field :player %>
  </p>
  <p>
  <%= f.label :ended %><br />
  <%= f.check_box :ended %>
  </p>
  <p>
    <%= f.label :won %><br />
    <%= f.check_box :won %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', rounds_path %>
