<h1>Listing rounds</h1>

<table>
  <tr>
    <th>Player</th>
    <th>Ended</th>
    <th>Won</th>
  </tr>

<% @rounds.each do |round| %>
  <tr>
    <td>
      <%if @on_session%>
        #
      <%end%>
      <%=h round.player %>
    </td>
    <td><%=h round.ended %></td>
    <td><%=h round.won %></td>
    <td><%= link_to 'Show', round %></td>
    <td><%= link_to 'Edit', edit_round_path(round) %></td>
    <td><%= link_to 'Destroy', round, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New round', new_round_path %>
